@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sandbox</h1>
    <p>This sandbox should give you a quick view of a basic MVC application.</p>
</div>

@{
    List<int> numbers = new List<int>() { 1, 2, 3 };
}

@for (int counter = 0; counter < numbers.Count; counter++)
{
    <div class="field-grp form-group @if(numbers[counter] > 2){<text>hidden</text>} col-12 col-sm-auto last">
        <h1>Some HTML</h1>
    </div>
}
